services:
  - type: web
    name: virtueduc-app
    env: python
    plan: free
    buildCommand: "./build.sh"
    startCommand: "gunicorn app:app"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: virtueduc-db
          property: connectionString
      - key: PYTHON_VERSION
        value: 3.11.4
      - key: FLASK_ENV
        value: production

databases:
  - name: virtueduc-db
    plan: free